:root {
  --color-bg: #FAF5D8;
  --color-fg: #21181B;
  --color-pink: #D8AE8B;
  --color-cyan: #CD5F2A;
  --color-yellow: #F2AB37;

  /*
  --color-bg: #ffeaff;
  --color-fg: #4c3299;
  --color-red: #ef833e;
  --color-blue: #99d7d7;
  --color-yellow: #ffe17f;
  */
}

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

pre, code {
    font-family: "Atkinson Hyperlegible Mono", monospace;
    font-size: 90%;
}

p, blockquote {
    line-height: 1.5em;
}

.katex {
    /* KaTeX default to 1.2em. This is a little too big. */
    font-size: 1.1em !important;
}

a:link { color: var(--color-cyan); }
a:visited { color: var(--color-pink); }

/* Strip decorations for headings that link to themselves. */
a.h-anchor {
    color: inherit;
    text-decoration: none;
    position: relative;  /* see a.h-anchor:hover:before */
}
/* Show a "#" to the left of headings on hover */
a.h-anchor:hover:before {
    content: "#";
    position: absolute;
    left: -1em;
    color: var(--color-cyan);
}

section#posts ul {
    list-style-type: none;
    padding-left: 0;
}


nav {
    display: flex;
    gap: 1.5rem;
    padding: 0.75rem 0;
    border-bottom: #aaa 1px solid;
    margin-bottom: 1.5rem;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}


body>footer {
    border-top: #aaa 1px solid;
    font-size: small;
    text-align: center;
}


body {
    background: var(--color-bg);
    color: var(--color-fg);
}
